NODE_ENV=<production/development>
SOURCE_SHOPIFY_STORE_NAME=mack-weldon
SOURCE_SHOPIFY_ACCESS_TOKEN=<store-access-token>
TARGET_SHOPIFY_STORE_NAME=qa-mack-weldon
TARGET_SHOPIFY_ACCESS_TOKEN=<store-access-token>
SENTRY_DSN=<url>